$body-bg-color: #212529;
$main-bg-color: white;
$hover-color: #febd69;
$error-color: rgb(66, 16, 16);
$text-color: black;
$error-bg: firebrick;
$footer-bg: rgb(243, 240 ,233);
$form-bg: #f5f5f7;
$input-color:  rgb(152, 150 ,150);
$form-btn: #62d2ce;
$form-btn-hover:#99afcc;
$heading: #374a5d;
$btn-hover: #f5900d;
$see-more-btn: #0f64b8;
$secndry-hover: rgb(156, 168, 184);
$item-heading: #0a3560;
