@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300;400;500;600;700;800&display=swap");
*{
  margin:0;
  padding:0;
  font-family:  'Ysabeau', sans-serif;
}
body{
  background-color: #212529;
}

main{
  height:80vh ;
  overflow-y: scroll;
  background-color: white;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
main::-webkit-scrollbar {
  display: none;
}
/* footer */
.footer{
  bottom: 0;
  width: 100%;
}
.footer-links{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
.footer-link{
color: white;
text-decoration: none;
}
.footer-link:hover{
  color:#febd69;
}
/* navbar */
.nav-link , .navbar-brand{
  color: white !important;
}
.nav-link:hover{
  color:#febd69 !important;
}
.navbar-brand:hover{
  color: white;
}
.nav-item ul{
  background-color: #212529;
}
.navbar-toggler{
 border: 2px solid white;
 transition: .3s;
 height: 4vw;
 width: 5vw;
}
.navbar-toggler:hover{
  border: 2px solid #febd69;
}

/* Page not found */
.errorPage{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 60vh;
  justify-content:center;
  flex-direction: column;
  align-items: center;
}
.errorPage h2{
 color: rgb(66, 16, 16);
 font-weight: bold;
 margin-bottom: 2vw;
}
.error-button{
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 0vw 1vw ;
  border-radius: 1vw;
  transition: .3s;
}
.error-button:hover{
  background-color: firebrick;
  color:white;
  border:none;
}

/* contact us */
.contactus{
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: visible;
  overflow-wrap: break-word;
  padding:1vw;
}
.contactus ul li, .contactus p{padding-bottom: 1vw;}
/* about */
.about{

  display:flex;
  flex-wrap: wrap;
  
}
.contact{
  background-color: rgb(243, 240, 233) !important;
}
/* register */

.register{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  height: 100%;
}
.register form{
  background-color: #f5f5f7;
  padding: 2vw;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-input{
  display:flex;
  width: 30vw !important;
}
.register h1{
  margin-bottom: 2vw;
  font-weight: 600;
}
.register-input label{
  width: 15vw;
  margin-right: 5vw;
  overflow: visible;
  overflow-wrap: break-word;
}
.register-input input{
  color: rgb(152, 150, 150);
}
.register form button{
  background-color: #62d2ce;
  color: white;
  border:none;
}
.register form button:hover{
  background-color: #f5f5f7;
  color:#99afcc;
  border:1px solid #99afcc;
}

.forgot-password{
  background-color: black !important;
  margin-bottom: 1vw !important;
}
.forgot-password:hover{
  color: black !important;
  border:1px solid black !important;
  background-color: #f5f5f7 !important;
}

/* loading page */
.loading-page{
  height: 100vh;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* category */
.update-category{
  margin-right: 1vw;
  margin-bottom: 1vw;
}
.category-dropdown:hover{
  background-color: #febd69;
}

.all-category{
  background: radial-gradient(circle at top, #dceffe , #ebe5ff)
}
.category-name{
  background: radial-gradient(circle at top, #c0b2f5, #653bfc);
  border: none;
  color: white;
}
.category-name:hover{
  background: radial-gradient(circle at top,  #653bfc,  #653bfc);
}
/* product */
.product-card{
  color: black;
  text-decoration: none;
}


/* search */
.search-input{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-button{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* home */
.home-heading{
  font-weight: 700;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#374a5d;
}
.filter{
  border-bottom: 1px solid #374a5d;
}

.home-filter{
  font-weight: 550;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filters{
  font-weight: 100;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
.load-button{
  background-color: white;
  border:none;
  font-weight: 600;
  padding: 0;
  margin: 2vw;
  color: #374a5d;
  border-bottom: 1px solid #374a5d;
  border-radius: 0;
}
.load-button:hover{
  background-color: white;
  border:none;
  color: #f5900d;
}

/* card */
.card-title{
  font-weight: 600;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 2vw;
}
.card-text{
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-price{
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f5900d;
}

.see-more-button{
  background-color: white;
  border:none;
  font-weight: 600;
  padding: 0;
  margin: 2vw;
  border-radius: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.see-more-button:hover{
  border-bottom: 1px solid #0f64b8;
  background-color: white;
  color:#0f64b8
}
.btn-outline-secondary:hover{
background-color: rgb(156, 168, 184);
}

/* category */
.category{
  padding: 0vw 5vw;
}
.found-result{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#0f64b8;
  font-size: small;
}
.prod-details{
  font-size: large;
}

.card-desc{
  font-size: larger;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.admin-heading{
 font-family:'Courier New', Courier, monospace;
 font-weight: 600;
}

/* cart */
.cart-item-heading{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 2vw;
  font-size: larger !important;
  font-weight: 600;
  color:#0a3560;
}

.total-head{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#0f64b8;
  font-size: small;
  font-weight: 600;
}
.total-amount{
  font-size: larger;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #1a8b09;
}
.cart{
  background-color:rgb(234, 246, 246);
  padding: 5vw;
}
.border{
  overflow-x:scroll;
  overflow-wrap: break-word;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.border::-webkit-scrollbar {
  display: none;
}


/* user dashboard */
.user-account{
background: linear-gradient(0deg, #99afcc 0%, #dbf5f4 100%);
}

/* errors */
.register-input{
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
}

thead tr, td , th{
  border: none;
}
/* cart */
.set-cart{
  height: 75%;
}